#root {
    margin: 0 auto;
    text-align: center;
}

button {
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 9999px;
    color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-shadow: 2px 2px black;
  }